.input {
  width: 300px;
  margin: 1% auto;
  padding: 1px;
}

.button {
  color: #fffb;
  padding: 7px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 300px;
}

.button:hover {
  background-color: #47a447;
}

body {
  background: #666;
}

.ui-autocomplete {
  max-height: 58px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}